body {
  font-family: 'Roboto';
  line-height: 1.4em;
}
/* from zgordon app.css */
App {
    /* text-align: center;*/
}

  .App a {
    color: #26738D;
  }

  .App h1 {
    font-size: 2rem;
      color: #2c3539;
    line-height: 2.2rem;
  }

  .App h2 {
    color: #353944;
  }

  .App h3 a {
    color: #353944;
  }

  .App .container {
    max-width: 800px;
    margin: 0 auto;
  }

.App-header {
  /*background-color: #353944;*/
  color: #fff;
  font-size: calc(10px + 1vmin);
  /*padding: 1rem;*/
  background: url('./components/images/bg.jpg') no-repeat center center;
  background-size: cover;
 }


  .App-header a {
    color:#fff;
    font-weight: normal;
  }
  .App-header ul {
    padding: 0;
  }

  .App-header li {
    list-style: none;
    display: inline-block;
    padding: 1rem;
    font-weight: bold;
  }

  .App-header li:first-child {
    padding-left: 0;
  }

.App article {
  padding: 1rem;
}

  .App article ul {
    margin: 0;
    padding: 0;
  }

  .App article ul li {
    list-style: none;
  }

  .App article h3 {
    font-size: calc(14px + 2vmin);
  }

.App-link {
  color: #61dafb;
}

.App-message {
  background-color: #55A9D6;
  color: white;
  padding: 2rem 1rem;
  text-shadow: 0 1px 0 #444;
}

  .App-message.saved {
    background: #51BB7A;
  }

  .App-message.deleted {
    background: #FF3F69;
  }


 .App form {
  padding: 1rem;
}

  .App form input {
    border: 1px solid #ccc;
    padding: .3rem;
  }

  .App form label {
    display: block;
    padding: .5rem 0;
  }

  .App form input#form-title {
    min-width: calc(100% - 20px);
    padding: 10px;
    font-size: 1rem;
  }

  .App form .ql-editor {
    min-height: 4rem;
  }

 /* .App form button[type="submit"] {
    border: 1px #ccc solid;
    background: white;
    font-size: 1rem;
    padding: .5rem 1rem;
  }*/
 .App form button[type="submit"] {
    border: 1px lightseagreen solid;
    background-color: lightseagreen;
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
   /* border-radius: 4px; */
}
  .App form button[type="submit"]:hover {
    cursor: pointer;
  }

.App button.linkLike {
  border: none;
  font-size: inherit;
  *color: #26738D;
  /*text-decoration: underline;*/
}

  .App button.linkLike:hover {
     cursor: pointer;
  }
/* Sofia Faverman css addition */
img {
    max-width:100%;
    margin:auto;
}
.not-found, footer {
    text-align: center;
}
.weather {
    max-width: 600px;
    background-color: #e1e1e1;
    border-top: 8px solid lightseagreen; /*#26738D;*/
    border-bottom: 3px solid lightseagreen; /* #26738D;*/
    margin: 20px auto;
    text-align: center;
    border-radius: 10px;
}
.weather h2 {
    color: #26738D;
    font-weight: bold;

}
.weather p {
    color: #ff9f00;
    font-weight: bold;
}
.weather .desc {
    font-size: 1.8em;
    color: #ff9f00;
}
main {
    margin: 10px 20px;
    text-align: center;
}
.gallery {
    background-color:  #f1f1f1;
    padding: 1%;
    margin: 2% 0;
    display: flex;
    justify-content: center; /* space-between; */
    flex-wrap: wrap; /* nowrap*/

}
.gallery > article, .gallery > div {
			background-color: #fff;
			margin: 10px;
	}
/* card - rounded corner style */
.card-rounded {
	/* Add shadows to create the "card" effect */
    background-color: lightseagreen !important;
    color: white;
    width: 36rem;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin: 20px !important;
    padding: 10px;
    position: relative;
}

.card {
    position: relative;
}
#home .card h2 {
    background-color: #ff9f00 !important;
    border-top-left-radius: 25px;
    padding: 5px;
    padding-right: 50%;
    padding-left: 25%;
    display: flex;
    align-content: center;
    align-items: baseline;
}
#home p {
    text-align: left;
}
.card-rounded h2, .card h2 {
    margin-top: 0;
}
.card:hover {
   background-color: #fbd4b0 !important;
}

.sun-icon {
    width: 25%;
    height: auto;
    margin-right: 15px;
}
.card-rounded:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: darkseagreen !important;
}
.card-rounded img {
	border-radius: 5px 5px 0 0;
}
.gallery img:hover {
	transform: scale(1.5);
}
/*#shopping img {
    padding-top: 15px;
    padding-left: 10px;
    border-radius: 4px;

}
#shopping .gallery img:hover {
	transform: scale(2.5);
}*/
.card-rounded .btn, .card .btn {
     background-color: #fff;
     position: absolute;
     bottom: 0;
     left: 0;
     min-width: 70%;
     margin: 10px 15%;
     /*border: 2px solid lightseagreen;*/
     border-radius: 10px;
     font-size: 1.2em;
     font-weight: 400;
     color: lightseagreen;
     text-decoration: none;
}
.card .btn {
     border: 2px solid #ff9f00;
     color: #ff9f00;
}


.card-rounded p, .card p {
     padding: 10px 10px 35px;
    text-align: left;
    text-indent: 1em;
}
#shopping .card-rounded p {
    text-indent: 0;
    padding-bottom: 0;
}
#shopping .card-rounded p:last-of-type {
    padding-bottom: 35px;
}
/*#welcome {
    display: block;
    position: relative;
}*/
#welcome p, #wecome video {
    margin: 0;
    line-height: 1.4em;

}
.title {
     position: absolute;
     display: block;
     background-color: rgba(255,255,255,.8);
     top: 0;
     left: 0;
     max-width: 90%;
     margin: 35% 0 0 10%;
  /*   border: 2px solid #353944;*/
     font-family: 'Roboto';
     font-size: 1.2em;
     font-weight: bold;
     color: #ff9f00;
     padding: 0 20px;
}

.addNew {
    margin-left: 40%;
    font-size: 20px;
    /*font-weight: bold;*/
    text-decoration:none;
    background-color: lightseagreen;
    color: #fff !important;
    padding: 5px 10px;
    border-radius: 5px;
 }
/*.video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height:0;
    overflow: hidden;
}
.video iframe {
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height:100%;
}*/
#home .video {
    border: 4px solid #ff9f00;
}

/*#shopping img {
    width: 45%;
    float: left;
    margin-right: 5%;
}*/

.grid  {
	display: grid;
	column-gap: 2%;
	grid-row-gap: 10px;
    grid-template-columns: 1fr;
}
.grid > article, .grid > div, .grid > section {
	padding: 0 10px;
}
nav {
   font-family: 'Roboto';
   margin: 0 10px;
}
nav a {
    font-size: 1.2em;
    text-decoration: none;
}
nav a:hover {
   background-color: #f1f1f1;
   font-weight: bold;
   color: #ff9f00;
    padding: 3px 5px;
}
nav .login, nav .logout {
  text-decoration: none;
  border: 1px solid lightseagreen;
  border-radius: 4px;
 /* float: right; */
  background-color: #fff;
  color: #26738D;
  padding: 2px 5px;
}

.eventDate {
    color: #ff9f00;
    margin-right: 20px;
    text-decoration: none !important;
}


@media screen and (min-width: 450px) {
    .col2 {
        grid-template-columns: repeat(2, 49%);
	}

}
@media screen and (min-width: 600px) {
   .title {
        font-size: 1.8em;
        margin: 40% 0 0 5%;
    }
  }

@media screen and (min-width: 800px) {
    .card-rounded, .card {
        margin-top: 0;
        width: 18rem;
    }
    /*  .card-rounded .btn {
         margin: 10px 30%;
    }*/
    .title {
        font-size: 2em;
       /* margin: 45% 0 0 5%;*/
    }
    nav .login, nav .logout {
       /* margin-left: 100px;*/
    }
    #welcome .col2 p, #listAttractions  {
        font-size: 1.1em;
        text-indent: 30px;
        /*text-align: center;*/
        padding-left: 10px;
    }

}
